html, body, .container {
  height: 100%;
}
body {
  background-color: #eee;
}

/* Reset a few tags */
ul {
  list-style-type: none;
}
ul,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container section {
  min-height: 100%;
}

/* Main Content */
.content header {
  margin: 50px auto 100px;
  width: 600px;
  text-align: center;
}

.content .subtitle {
  font-size: 30px;
  line-height: 1.2em;
  color: #444;
}
.content .facets {
  margin-top: 10px;
  text-align: center;
}
.content .facets span {
  font-size: 11px;
}

/* Grids */
.demo-col {
  background-color: #C3C3E5;
  color: #222;
  text-align: center;
  padding: 1em 0;
  display: block;

  border-radius: 3px;
}

.row {
  margin-bottom: 2em;
}

